body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2em;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.content {
  text-align: center;
}

button {
  border-radius: 1em;
  font-weight: 600;
  border: 1px solid gray;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: background-color 0.125s;
}
button:hover {
  background-color: #aaf;
  border-color: #66f;
  color: #22f;
}
button:active {
  background-color: #66f;
  color: #aaf;
}
